<a href="https://colab.research.google.com/github/NAFISA2106/week1lab/blob/main/week1lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Problem 1

In [2]:
scores = [72 , 85 , 90 , 68 , 88]
print("Scores:", scores)

average = sum(scores) / len(scores)
print("Average score:", average)

highest_score = max(scores)
print("Highest score:", highest_score)
lowest_score = min(scores)
print("Lowest score:", lowest_score)

Scores: [72, 85, 90, 68, 88]
Average score: 80.6
Highest score: 90
Lowest score: 68

Problem 2

In [6]:
study_hours = [1 , 2 , 3 , 4 , 5]
exam_scores = [50 , 55 , 65 , 70 , 80]

for i in range(len(study_hours)):
 print("Input:", study_hours[i], "hours - > Output:", exam_scores[i],"marks")

Input: 1 hours - > Output: 50 marks
Input: 2 hours - > Output: 55 marks
Input: 3 hours - > Output: 65 marks
Input: 4 hours - > Output: 70 marks
Input: 5 hours - > Output: 80 marks

Problem 3

In [7]:
scores = [45 , 67 , 82 , 59]

def pass_fail(score):
  if score >= 60:
    return "Pass"
  else:
    return "Fail"

for score in scores:
  print("Score:", score, "->", pass_fail(score))

Score: 45 -> Fail
Score: 67 -> Pass
Score: 82 -> Pass
Score: 59 -> Fail

Problem 4

In [13]:
from re import T
sizes = [500 , 800 , 1000 , 1200]
prices = [50 , 80 , 100 , 130]

for i in range(len(sizes)):
  print("Sizes:", sizes[i], "sq.m -> Price:", prices[i])

is_incresing = True
for i in range(1, len(prices)):
  if prices[i] <= prices[i - 1]:
    is_incresing = False

if is_incresing:
  print("Prices trend")
else:
  print("Negative trend")

Sizes: 500 sq.m -> Price: 50
Sizes: 800 sq.m -> Price: 80
Sizes: 1000 sq.m -> Price: 100
Sizes: 1200 sq.m -> Price: 130
Prices trend

Problem 5

In [14]:
study_hours = [2 , 4 , 6 , 8]
scores = [55 , 65 , 75 , 85]

increase = (scores[-1] - scores[0]) / (study_hours[-1] - study_hours[0])
predicted_score = scores[-1] +  increase * 2

print("Average increase per 2 hours:", increase * 2)
print("Predicted score for 10 hours:", predicted_score)

Average increase per 2 hours: 10.0
Predicted score for 10 hours: 95.0

Problem 6

In [15]:
scores = [35 , 58 , 62 , 74 , 89 , 45]

for s in scores:
  if s < 50:
    category = "Low"
  elif s < 70:
    category = "Medium"
  else:
    category = "High"
print(s, "->", category)

45 -> Low

Problem 7

In [17]:
ages = [18 , 20 , 22 , 24 , 26]
heights = [160 , 165 , 170 , 175 , 180]

for a, h in zip(ages, heights):
  print(f"Age: {a} -> Height: {h}")

print("Average age:" , sum(ages) / len(ages))
print("Average height:" , sum(heights) / len(heights))
print("Hight increases as age increases")

Age: 18 -> Height: 160
Age: 20 -> Height: 165
Age: 22 -> Height: 170
Age: 24 -> Height: 175
Age: 26 -> Height: 180
Average age: 22.0
Average height: 170.0
Hight increases as age increases